# //npm.pkg.github.com/:_authToken=${GITHUB_AUTH_TOKEN}

# For example package with name `@frontend/ui` will use this URL for download
 @frontend:registry=https://git.gits.id/api/v4/packages/npm/
 
# Add the token for the scoped packages URL. This will allow you to download
# `@frontend/` packages from private projects.
'//git.gits.id/api/v4/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"

# Auth
'//git.gits.id/api/v4/projects/1359/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"